.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
body{
	background: none;
}
.feed-home{
}
.feed-home nav{
	
}
.feed-home .grid-container{
	padding: 0 30px;
}
.feed-home .feed-nav{
	margin: 0;
	padding: 0;
}
.feed-home #feed-dd1{
	height: 85px;
	display: none;
	position: relative;
}
.feed-home #feed-dd2{
	padding: 14px 30px;
	display: none;
	position: relative;
}
#feed-dd2 .row{
	margin-bottom: 60px;
}
.feed-home .feed-btn-container{
	text-align: center;
}
.feed-home #feed-dd2 .feed-btn-container button,.feed-home #feed-dd1 .feed-btn-container button{
	position: absolute;
	bottom: 10px;
}
#feed-dd1 .row{
	margin: 10px 0 20px 0;
	padding: 0 20px;
}
.feed-home .feed-nav li{
	width: 50%;
	float: left;
	display: block;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
#app{
	height: 100%;
	background:linear-gradient(to top,#3E4017 0,rgba(62,62,62,.62) 100%)

}
.feed-home #app .btn{
	margin: 10px 0;
	width: 100%;
	border-color: #ccc;
}