<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Cricket POC</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">    
  </head>

  <body>
      
      <div>
        <input type="text" placeholder="Enter your player's name"/>
        <button type="button" id="submit" data-player-id = "2962"> Submit </button>
      </div>
      
      <div class="player-details-wrapper">
          
          <div class="player-img">
            <img src=""/>
          </div>
          <div class="player-name">
          
          </div>          
          <div class="player-details">
              
              <div>
                  <Label>Date of Birth: </label> <span class="playerDOB"></span>
              </div>
              <div>
                  <Label>Batting Style: </label> <span class="batting"></span>
              </div>
              
              <div>
                  <Label>No of ODI matches: </label> <span class="num-matches"></span>
              </div>
              <div>
                  <Label>Strike Rate: </label> <span class="strike-rate"></span>
              </div>
              <div>
                  <Label>Average: </label> <span class="average"></span>
              </div>
              <div>
                  <Label>Total Runs: </label> <span class="tot-runs"></span>
              </div>
          
          </div>
      
      </div>
      
      <script type="text/javascript" src="../scripts/vendor/jquery.min.js"></script>
      <script type="text/javascript" src="../scripts/vendor/bootstrap.min.js"></script>      
      <script type="text/javascript" src="../scripts/main.js"></script>
      
  </body>
</html>